<div class="container-fluid">
  <header class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-3 pt-1">
        <button class="theme-toggle ml-5">Dark Mode</button>
        <!--place holder column-->
      </div>
      <div class="col-3 text-center">
        <a class="blog-header-logo" href="/index">Antonio Glenn</a>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <form id="search_form">
          <input id="search_field" class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-center">
      <a class="p-2 mx-3 link" href="#">Politics</a>
      <a class="p-2 mx-3 link" href="#">Engineering</a>
      <a class="p-2 mx-3 link" href="#">Random</a>
      <a class="p-2 mx-3 link" href="#">Currently Reading</a>
      <a class="p-2 mx-3 link" href="#">Books</a>
    </nav>
  </div>
</div>